#portofolios {
    padding: var(--sectionPadding);
}

.portofolio {
    border-radius: var(--itemBorderRadius);

    &-cover {
        height: 250px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}