@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
.main-container {
  width: 1750px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}
.logo a {
  color: var(--primaryTextColor);
}

nav ul li {
  display: flex;
  align-items: center;
}
nav ul li a {
  color: var(--primaryTextColor);
}

.reb {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}
.reb div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}

#hero {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--secondaryTextColor);
  position: relative;
  padding-left: 40px;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}
.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--lineColor);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}
.hero-name span {
  color: var(--primaryIconColor);
}

.hero-right {
  display: flex;
  justify-content: center;
}
.hero-right img {
  width: 55%;
}

.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

#services {
  color: var(--secondaryBackgroundColor);
  padding: var(--sectionPadding);
}

.services .pre-title {
  margin: 0 auto;
}

.services-title {
  text-align: center;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

.service {
  padding: 3rem 2rem;
  text-align: center;
  background: var(--primaryBackgroundColor);
  border-radius: var(--itemBorderRadius);
}
.service h4 {
  margin: 1.5rem 0;
  font-weight: 500;
  font-size: 1.05rem;
}
.service-icon {
  background: var(--thirdBackgroundColor);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.5rem;
}
.service-icon svg {
  fill: var(--primaryIconColor);
}

#portofolios {
  padding: var(--sectionPadding);
}

.portofolio {
  border-radius: var(--itemBorderRadius);
  overflow: hidden;
}
.portofolio-cover {
  height: 250px;
}
.portofolio-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portofolio-info {
  padding: 2rem 1.5rem;
}
.portofolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.portofolio h4 {
  font-weight: 500;
  font-size: 1.05rem;
}
.portofolio-title a svg {
  transition: 0.2s ease-in-out;
}
.portofolio-title a svg:hover {
  fill: var(--primaryIconColor);
}

.wrapper {
  position: relative;
  font-family: sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondaryBackgroundColor);
  flex-wrap: wrap;
}

.top-div {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top-div h1 {
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  margin: 30px;
}
.top-div hr {
  position: relative;
  width: 70px;
  height: 4px;
  border: none;
  background: var(--primaryIconColor);
}

.content {
  position: relative;
  width: 300px;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.content img {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 10px;
  background: #eee;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

:root {
  --primaryTextColor: #232e35;
  --secondaryTextColor: #656d72;
  --borderColor:#f1f1f1;
  --lineColor: #d9d9d9;
  --primaryBackgroundColor: #fff;
  --secondaryBackgroundColor: #fbfbfb;
  --thirdBackgroundColor: #f5f3fe;
  --primaryIconColor: #E50046;
  --primaryIconColorHover: #5d51eB;
  --sectionPadding: 6rem 0;
  --itemBorderRadius: 0.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
  color: var(--primaryTextColor);
}

p {
  font-size: 1rem;
  line-height: 1.9rem;
}

p, span, label, input, textarea, li {
  color: var(--secondaryTextColor);
}

a {
  text-decoration: none;
}